## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo SINASC_RO_2019.csv` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo `estrutura_sinasc_para_CD.pdf` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregamento da base 'SINASC_RO_2019.csv'. 
2. Contagem do número de registros e o número não duplicados da base. 
2. Contagem do número de valores *missing* por variável.  

3. Seleção das colunas que interessam. 
` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
`
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis `['ESTCIVMAE', 'CONSULTAS']` possuem o código `9`, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código `9`.<br>

6. Substituição dos valores faltantes da quantitativa (`QTDFILVIVO`) por zero.

7. Das restantes, inclusão da moda e média nos dados faltantes.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeação das variáveis para que fiquem no *snake case (em letras minúsculas, com um *underscore* entre as palávras)

In [43]:
import pandas as pd
import requests

sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)

sinasc.drop_duplicates().shape

# Não há duplicados

(27028, 69)

(27028, 69)

In [54]:
missing_values = sinasc.isnull().sum()
missing_values.shape

print(missing_values)

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [61]:
colunas_interesse = ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']
df_interesse = sinasc[colunas_interesse] 
print(df_interesse)
missing_values_col_interesse = df_interesse.isnull().sum()
missing_values_col_interesse

       LOCNASC  IDADEMAE  ESTCIVMAE           ESCMAE  QTDFILVIVO  \
0            1        19        5.0      8 a 11 anos         0.0
1            1        29        2.0      8 a 11 anos         1.0
2            1        37        9.0      8 a 11 anos         2.0
3            1        30        5.0  12 anos ou mais         0.0
4            1        30        2.0      8 a 11 anos         1.0
...        ...       ...        ...              ...         ...
27023        1        32        2.0  12 anos ou mais         1.0
27024        1        19        1.0      8 a 11 anos         0.0
27025        1        24        2.0      8 a 11 anos         0.0
27026        1        21        2.0      8 a 11 anos         1.0
27027        1        18        5.0      8 a 11 anos         1.0

              GESTACAO GRAVIDEZ  CONSULTAS  APGAR5
0      37 a 41 semanas    Única          4    10.0
1      37 a 41 semanas    Única          4     9.0
2      37 a 41 semanas    Única          4    10.0
3      37 a 41 semanas    Única          3    10.0
4      37 a 41 semanas    Única          4    10.0
...                ...      ...        ...     ...
27023  32 a 36 semanas    Única          4     9.0
27024  37 a 41 semanas    Única          4     9.0
27025  37 a 41 semanas    Única          4    10.0
27026  32 a 36 semanas    Única          4     9.0
27027  37 a 41 semanas    Única          4     8.0

[27028 rows x 9 columns]

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [62]:
# Remover registros com APGAR5 não preenchido
df_interesse = df_interesse.dropna(subset=['APGAR5'])
df_interesse

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [67]:
df_interesse['ESTCIVMAE'].fillna(9, inplace=True)
df_interesse['CONSULTAS'].fillna(9, inplace=True)

df_interesse

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [70]:
df_interesse['QTDFILVIVO'].fillna(0, inplace=True)
df_interesse

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [71]:

# Sobraram preencher os valores das colunas LOCNASC, IDADEMAE, ESCMAE, GESTACAO, e GRAVIDEZ
# Estas serão preenchidas com a moda para variáveis categóricas e média para variáveis numéricas,
#pois farão mais sentido ao invés de preencher com algum valor aleatório.


# Preencher valores faltantes em variáveis categóricas com a moda
for col in ['LOCNASC', 'ESCMAE', 'GESTACAO', 'GRAVIDEZ']:
    
    moda = df_interesse[col].mode()[0]
    df_interesse[col].fillna(moda, inplace=True)

# Preencher valores faltantes em IDADEMAE com a média
media_idademae = df_interesse['IDADEMAE'].mean()

df_interesse['IDADEMAE'].fillna(media_idademae, inplace=True)

df_interesse

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [74]:
def categoria_apgar(apgar):
    if 8 <= apgar <= 10:
        return 'normal'
    elif 6 <= apgar <= 7:
        return 'asfixia leve'
    elif 4 <= apgar <= 5:
        return 'asfixia moderada'
    else:
        return 'asfixia severa'

df_interesse['APGAR5_CAT'] = df_interesse['APGAR5'].apply(categoria_apgar)

# Calcular frequências da categorização
freq_apgar = df_interesse['APGAR5_CAT'].value_counts()
freq_apgar

APGAR5_CAT
normal              26463
asfixia leve          320
asfixia severa         74
asfixia moderada       68
Name: count, dtype: int64

In [77]:
# Renomear variáveis snake_case

df_interesse.rename(columns = lambda var: var.lower(), inplace=True)
df_interesse.rename(columns={
    'locnasc': 'loc_nasc',
    'idademae': 'idade_mae',
    'estcivmae': 'est_civ_mae',
    'escmae': 'esc_mae',
    'qtdfilvivo': 'qtd_fil_vivo',
    'gestacao': 'gestacao',
    'gravidez': 'gravidez',
    'consultas': 'consultas',
    'apgar5': 'apgar5',
    'apgar5_cat': 'apgar5_cat'
}, inplace=True)

df_interesse.columns

Index(['loc_nasc', 'idade_mae', 'est_civ_mae', 'esc_mae', 'qtd_fil_vivo',
       'gestacao', 'gravidez', 'consultas', 'apgar5', 'apgar5_cat'],
      dtype='object')